@font-face {
  font-family: 'Koganejidainogemu';
  src: url('/fonts/Koganejidainogemu.woff2') format('woff2'),
       url('/fonts/Koganejidainogemu.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-main: 'Koganejidainogemu', 'Segoe UI', Tahoma, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, select, input, textarea, optgroup {
  font-family: inherit;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: var(--font-main);
  background: #C0C0C0;
}